/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Fixed Navigation */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #56129f;
    z-index: 1000;
    transition: background-color 0.3s;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    padding: 1em;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

#navbar ul li a:hover {
    background-color: #ddd;
    color: #333;
}

/* Change navbar background on scroll */
.scrolled {
    background-color: #444;
}

/* Section Styling */
section {
    height: 100vh;
    padding: 2em;
    text-align: center;
}

#home {
    background-color: #f4f4f4;
}

#about {
    background-color: #ddd;
}

#services {
    background-color: #bbb;
}

#contact {
    background-color: #999;
}

/* Responsive Design */
@media (max-width: 768px) {
    #navbar ul {
        flex-direction: column;
    }
}
